[submodule "firmware/submodules/ruckus"]
	path = firmware/submodules/ruckus
	url = git@github.com:slaclab/ruckus
[submodule "firmware/submodules/surf"]
	path = firmware/submodules/surf
	url = git@github.com:slaclab/surf
[submodule "firmware/submodules/axi-pcie-core"]
	path = firmware/submodules/axi-pcie-core
	url = git@github.com:slaclab/axi-pcie-core
[submodule "firmware/submodules/atlas-rd53-fw-lib"]
	path = firmware/submodules/atlas-rd53-fw-lib
	url = git@github.com:slaclab/atlas-rd53-fw-lib
[submodule "firmware/submodules/rce-gen3-fw-lib"]
	path = firmware/submodules/rce-gen3-fw-lib
	url = git@github.com:slaclab/rce-gen3-fw-lib
[submodule "firmware/submodules/HomebrewAurora"]
	path = firmware/submodules/HomebrewAurora
	url = git@github.com:ruck314/HomebrewAurora
